# Node
node_modules/
.next/
out/
build/
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Secrets
service_account.json

# OS
.DS_Store
Thumbs.db

mobile/
